spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/qualityfirst
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: 'true'
security:
  basic:
    enabled: 'false'
app:
  secret:
    key: J@!gt*K


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
